<md-button class="md-raised md-primary md-button-toggle"
   ng-click="toggle($ctrl.section)"
   aria-controls="docs-menu-{{ $ctrl.section.name }}"
   aria-expanded="{{ isOpen($ctrl.section) }}">
   <div flex layout="row">
       {{ $ctrl.name }}
       <span flex></span>
       <span aria-hidden="true" class="md-toggle-icon"
           ng-class="{'toggled' : isOpen($ctrl.section)}">
           <md-icon style="height: 24px;">keyboard_arrow_down</md-icon>
       </span>
   </div>
   <span class="md-visually-hidden">
       Toggle {{ isOpen($ctrl.section) ? 'expanded' : 'collapsed' }}
   </span>
</md-button>

<ul id="docs-menu-{{ $ctrl.name }}" class="menu-toggle-list">
   <li ng-repeat="link in $ctrl.children" ng-if="!page.hidden">
       <menu-link link="link"></menu-link>
   </li>
</ul>
