<md-button class="md-raised md-primary md-button-toggle"
   ng-click="$ctrl.toggle()"
   aria-controls="docs-menu-{{ $ctrl.id }}"
   aria-expanded="{{ $ctrl.toggled }}">
   <div flex layout="row">
       {{ $ctrl.name }}
       <span flex></span>
       <span aria-hidden="true" class="md-toggle-icon"
           ng-class="{'toggled': $ctrl.toggled}">
           <md-icon style="height: 24px;">keyboard_arrow_down</md-icon>
       </span>
   </div>
   <span class="md-visually-hidden">
       Toggle {{ $ctrl.toggled ? 'expanded' : 'collapsed' }}
   </span>
</md-button>

<ul id="docs-menu-{{ $ctrl.id }}" class="menu-toggle-list" ng-class="{'collapsed': !$ctrl.toggled}">
   <li ng-repeat="link in $ctrl.children" ng-if="!page.hidden">
       <menu-link link="link"></menu-link>
   </li>
</ul>
