<md-content class="application-settings-panel" role="dialog" layout="column">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>User settings</h2>
    </div>
  </md-toolbar>

  <md-tabs md-dynamic-height md-border-bottom>
    <md-tab label="general" ng-init="general=$ctrl.settings.general">
      <div class="md-padding panel-content more-padding" layout="column" layout-padding>
        <div layout="column">
          <span class="md-title section-title">Notifications</span>
          <div class="form-switch" layout="row">
            <div flex>
              <p>Enable sound</p>
            </div>
            <div flex>
              <md-switch class="float-right" ng-model="general.notifications.sound"
                         aria-label="Enable sound"
                         ng-change="$ctrl.submit()">
             </md-switch>
            </div>
          </div>
          <div class="form-switch" layout="row">
            <div flex>
              <p>Enable notifications</p>
            </div>
            <div flex>
              <md-switch class="float-right" ng-model="general.notifications.toast"
                         aria-label="Enable notifications"
                         ng-change="$ctrl.submit()">
             </md-switch>
            </div>
          </div>

          <span class="md-title section-title">Appearance</span>
          <div class="form-switch" layout="row">
            <div flex>
              <p>Choose theme</p>
            </div>
            <div flex>
              <md-select class="float-right" ng-model="general.themeId"
                         aria-label="Choose theme"
                         ng-change="$ctrl.submit()">
                <md-option ng-repeat="theme in $ctrl.availableThemes" ng-value="theme._id">
                  {{ theme.name }}
                </md-option>
             </md-select>
            </div>
          </div>

          <span class="md-title section-title">Language</span>
          <div class="form-switch" layout="row">
            <div flex>
              <p>Choose language</p>
            </div>
            <div flex>
              <md-select class="float-right" ng-model="general.languageId"
                         aria-label="Choose theme"
                         ng-change="$ctrl.submit()">
                <md-option ng-repeat="language in $ctrl.availableLanguages" ng-value="language._id">
                  {{ language.name }}
                </md-option>
             </md-select>
            </div>
          </div>
        </div>
      </div>
    </md-tab>

    <md-tab label="account">
      <md-content class="md-padding">
        <div class="panel-content" layout="column" layout-padding>
          <div layout="column">
            <h1>Account settings</h1>
          </div>
        </div>
      </md-content>
    </md-tab>
  </md-tabs>

  <div class="panel-controls" layout="row" layout-align="center center">
    <md-button class="md-primary md-raised" ng-click="$ctrl.close()">
      Close
    </md-button>
  </div>
</md-content>
