<div layout="column" layout-align="center none" class="posts">
  <div id="new-post-form" md-whiteframe="4" layout="column" flex>
    <form name="chipForm">
      <div id="new-post-tags" layout="row" layout-margin layout-align="none center">
          <md-icon>label</md-icon>
          <form name="ChibsForm">
            <md-chips ng-model="$ctrl.tags"
                      md-removable="true"
                      name="chip"
                      md-enable-chip-edit="true"
                      placeholder="Tags (5 max)"
                      secondary-placeholder="your tag here"
                      md-max-chips="5"
                      md-min-length="2"
                      flex>
              <md-chip-template>
                <strong>{{ $chip }}</strong>
            </md-chip-template>
          </md-chips>
        </form>
      </div>
      <div id="new-post-textarea" class="row" layout-margin>
        <md-input-container class="md-block" md-no-float>
          <md-icon class="icon-gray">message</md-icon>
          <textarea ng-model="$ctrl.body"
                    md-maxlength="150"
                    rows="2"
                    md-select-on-focus
                    placeholder="What's on your mind?">
          </textarea>
        </md-input-container>
      </div>
      <div id="file-list" ng-show="true">
        <md-list>
          <md-subheader class="md-no-sticky">Uploaded files</md-subheader>
          <md-list-item class="secondary-button-padding md-no-proxy" ng-repeat="file in $ctrl.attachments">
            <p>{{ file.name }}</p>
            <md-button class="md-icon-button" ng-click="$ctrl.removeFile(file)">
              <md-tooltip>Remove</md-tooltip>
              <md-icon>clear</md-icon>
            </md-button>
          </md-list-item>
        </md-list>
      </div>
      <div id="new-post-controls" layout="row" layout-margin>
        <div id="new-post-controls-buttons">
          <label for="file-upload" class="custom-file-upload">
            <md-tooltip>Attach file</md-tooltip>
            <md-icon>attach_file</md-icon>
          </label>
          <input id="file-upload" type="file" ng-file-model="$ctrl.uploadedFile" ng-click="showAlert($event)"/>
        </div>
        <div flex>
          <md-button id="new-post-submit"
                     class="md-raised md-primary"
                     ng-click="$ctrl.submit()"
                     ng-model="$ctrl.button"
                     ng-disabled="$ctrl.checkText()">
             Submit
          </md-button>
        </div>
      </div>
    </form>
  </div>


<div ng-repeat="post in $ctrl.posts">
  <div class="post" layout="column" layout-padding md-whiteframe="4">
    <div class="post-header" layout="row" flex>
      <span class="post-author-avatar"><img src="/images/avatar.png" alt="" /></span>
      <div class="post-author-data" layout="column" flex layout-align="">
        <div layout="row" flex>
          <div flex>
            <span class="post-display-name">Maciej Posłuszny</span>
          </div>
          <div flex class="post-time">
            <span>{{post.time}}</span>
          </div>
        </div>
        <div flex>
          <span class="post-username">@maciej.posluszny</span>
        </div>
      </div>
    </div>
    <div class="post-body">
      <p>{{post.text}}</p>
    </div>
    <div>
      <div ng-repeat="attachment in post.attachments">
        <a download={{attachment.name}}  ng-href="{{$ctrl.filedata}}" ng-click="$ctrl.getPostFile(attachment.id)" target="_blank"><p><small><md-icon>file_download</md-icon> {{attachment.name}} </small></p></a>
      </div>
    </div>
    <div class="post-controls" layout="row">
      <div>
        <md-button ng-class="post.loved ? 'md-accent': 'false'" ng-click="$ctrl.love(post)">
          <md-tooltip>Thank you!</md-tooltip>
          <md-icon>favorite</md-icon>
          <span>{{post.love}}</span>
        </md-button>
        <md-button>
          <md-tooltip>Talk about this</md-tooltip>
          <md-icon>forum</md-icon>
          <span>{{post.talk}}</span>
        </md-button>
      </div>
      <div flex>
        <md-button class="post-chat" ng-click="$ctrl.chat()" >
          <md-tooltip>Chat about this</md-tooltip>
          <md-icon>chat</md-icon>
        </md-button>
      </div>
      <div flex>
        <md-button class="post-pinup" ng-class=" post.pinned ? 'md-warn':'true'" ng-click="$ctrl.pinup(post)" >
          <md-tooltip>Pin / Unpin</md-tooltip>
          <md-icon>announcement</md-icon>
        </md-button>
      </div>
     </div>
     <div>
         <div ng-show="$ctrl.isTagged(post.tags)" >
         <small> {{$ctrl.posttags}} </small>
     </div>
  </div>
</div>

</div>
