.icon-gray {
  color: rgba(0,0,0,0.54);
}

.posts {

  margin: 0 auto;
  max-width: 700px;

  #new-post-form {
    margin-top: 25px;
  }

  #new-post-submit {
    float: right;
  }
  .post-pinup{
    float: right;

  }

  .post {
    margin-top: 25px;
    margin-bottom: 25px;

    .post-author-avatar > img {
      width: 50px;
      height: 50px;
    }

    .post-author-data {
      padding-left: 10px;

      .post-display-name {
        font-weight: bold;
      }
    }

    .post-time > span {
      float: right;
    }

    .post-controls {
      padding-top: 0px;
    }

    .post-body {
      padding-top: 0px;
      padding-bottom: 0px;
    }
    small{
      color:gray;
    }
  }
}
