<div layout="row" class="container">
  <sidebar on-group-change="$ctrl.groupChanged($event)"
           on-channel-change="$ctrl.channelChanged($event)">
  </sidebar>

  <div flex layout="column">
    <md-toolbar layout="row" class="md-toolbar-tools" md-whiteframe="2">
      <md-button ng-click="$ctrl.toggleSidebar()" class="md-icon-button md-ink-ripple" hide-gt-sm aria-label="Show Actions">
        <md-icon>menu</md-icon>
        <div class="md-ripple-container"></div>
      </md-button>
      <div layout="row" flex>
        <h2 class="md-headline">Dashboard</h2>
        <span flex></span>
      </div>
    </md-toolbar>

    <md-content flex id="content">
      <posts group-id="$ctrl.selectedGroupId" channel-id="$ctrl.selectedChannelId"></posts>
    </md-content>
  </div>
</div>
