.application-settings-panel {
  background-color: white;
  min-width: 800px;

  .panel-content {
    .hint {
      /* Position the hint */
      position: absolute;
      left: 2px;
      right: auto;
      bottom: 7px;
      /* Copy styles from ng-messages */
      font-size: 12px;
      line-height: 14px;
      color: grey;
    }
  }

  .section-title {
    color: rgba(0, 0, 0, 0.541176);
    padding: 10px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.117647);
    margin-bottom: 10px;
  }

  .float-right {
    float: right;
  }

  .more-padding {
    padding: 20px 5% 10px;
  }

  .panel-controls {
    padding-bottom: 16px;
  }

  .section-controls button {
    padding: 0;
  }

  .profile-info {
    .avatar {
      max-width: 150px;
      max-height: 150px;
      border-radius: 50%;
    }

    #edit-avatar-button {
      position: absolute;
      top: 24px;
      right: 35%;
    }
  }

  md-pagination-wrapper {
    width: auto !important; // https://github.com/angular/material/issues/4307#issuecomment-240667300
  }
}
