
.content{
  min-height: 100vh;
  .align-height{
    min-height: 100vh;
  }
  h1{
     text-align: center;
  }
  h4{
     text-align: center;
     font-style: italic;
  }
  md-whiteframe{
    background-color: white;
    border-radius: 10px;
  }
  md-toolbar{
    border-radius: 10px 10px 0px 0px;
  }
  md-checkbox{
  color: rgba(0,0,0,0.38);
  }
  md-checkbox:last-of-type{
      margin-left: 15px;
  }
}
