<md-sidenav md-is-locked-open="$mdMedia('gt-sm')" md-component-id="sidebar" class="md-whiteframe-z2">
  <md-toolbar>
    <h4>Actions</h4>
  </md-toolbar>
  <md-list>
    <md-list-item>
      <md-button>
        <div class="action-info">
          <div>item</div>
        </div>
      </md-button>
    </md-list-item>
  </md-list>
  <section>
    <md-toolbar>
      <h4>section</h4>
    </md-toolbar>
    <md-list layout-padding>
      <md-list-item>
        <md-button>item</md-button>
      </md-list-item>
    </md-list>
  </section>
</md-sidenav>
